.headline {
  font-family: 'ABC Ginto Nord', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-weight: 800;
  font-size: clamp(42px, 2vw, 34px);
  line-height: 60%;
  font-size: 56px;
}

.heroLeft {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  height: auto;
  width: auto;
  max-width: none;
  margin-left: -1030px;
  -webkit-transform: none;
  transform: none;
}

.heroRight {
  display: block;
  bottom: 0;
  left: 50%;
  margin-left: 370px;
}
